*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

header{
    background-color: gray;
}

nav{
    background-color: green;
    width: 80%;
    margin: auto;
}

.flex-box{
    display: flex;
}

.flex-basis{
    flex-basis: 20%;
}

.flex-direction-column{
    flex-direction: column;
}


.justify-content-space-between{
    justify-content: space-between;
}

.justify-content-center{
    justify-content: center;
}

.box-titolo{
    width: 60%;
    margin: auto;
    background-color: aqua;
    text-align: center;
}

main{
    background-color: bisque;
}

.contenitore1{
    width: 80%;
    margin: auto;
    background-color: blueviolet;
}

.contenitore2{
    background-color: red;
    width: 80%;
    margin: auto;
}

.contenitore3{
    background-color: coral;
    width: 80%;
    margin: auto;
}

.contenitore4{
    background-color: pink;
    width: 80%;
    margin: auto;
    text-align: center;
}

.contenitore5{
    background-color: lightgray;
    width: 80%;
    margin: auto;
}

.col1{
    background-color: aqua;
}

.col2{
    background-color: aliceblue;
}

.sfondo{
    background-color: yellowgreen;
}

footer{
    background-color: aquamarine;
}